# Cole abaixo as URLs CSV das duas abas da sua planilha do Google Sheets
# (Arquivo > Compartilhar > Publicar na web > escolha a aba > formato CSV)

VITE_SHEET_CATEGORIAS_URL=
VITE_SHEET_PRODUTOS_URL=

# Contato
VITE_WHATSAPP_NUMBER=5583988592226
VITE_INSTAGRAM_HANDLE=PolygonArt_3D
